:root {
  --white: #fff;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --purple-500: #8284fa;
  --purple-700: #5e60ce;

  --blue-100: #e5f6fd;
  --blue-500: #4ea8de;
  --blue-700: #1e6f9f;

  --priority-bg-lower: #2e7d3214;
  --priority-bg-medium: #ed6c021f;
  --priority-bg-high: #d32f2f1f;

  --blue-700-op-20: rgb(30, 111, 159, 20%);

  --red-500: #e25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--blue-100);
  color: var(--gray-500);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

html,
body,
div#root {
  height: 100%;
}
